.product_discount {
    padding-left: 10px;
}

.productShow{
    padding-left: 10px;
}

.fvr-list {
    text-align: center;
  }

  .card-favorite{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: auto;
  }